

.rightImg{
    display: inline-block;
    zoom: 1;
    *display: inline;
   height: 20px;
   width: 20px;
     background-size: 100% 100%;
   background-image: url("../img/right.png");
}

.downImg{
    display: inline-block;
    zoom: 1;
    *display: inline;
   height: 20px;
   width: 20px;
     background-size: 100% 100%;
   background-image: url("../img/down.png");
}



#myTable{

	width: 700px;
	opacity: 1;
	margin:0 auto;
	margin-bottom: 65px
}


#reactDiv
 {
    margin-top: 40px;

   font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;


 }

#dropdownGroup{

		margin: 10% auto;

}


select#countries, select#cities, select#states
{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}


li{
	list-style: none;
}
